html,body{
    --border: 1px solid black;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: roboto;
}

.image{
    position: absolute;
    bottom: 10rem;
    right: -8rem;
    z-index: 110;
    /* border: var(--border); */
}

.image img{
    width: 50ch;
    height: 50ch;
    border-radius: 100%;
    position: absolute;
    bottom: 0;

}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3ch;
}

.blue-cover{
    width: 100%;
    height: 100%;
    background: url('../..//static/img/login.jpg');
    background-size: cover;
    filter: blur(10px);
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    outline: none;
    transform: scale(1.1); 
}

.logo{
    position: absolute;
    /* border: var(--border); */
    border-radius: 100%;
    box-shadow: 0px 3px 5px #000000;
    top: -9ch;
    margin: 0 auto;
}
.logo img{
    width: 18ch;
    display: block;
}
.login-form{
    position: relative;
    background: linear-gradient(to bottom right,rgba(255,255,255,0.9),rgba(255,255,255,0.4));
    /* border: var(--border); */
    backdrop-filter: blur(3rem);
    width: 45%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 15px black;
    border-radius: 20px;
    z-index: 10;
    opacity: 0.9;
}

.sign-up{
    /* border: var(--border); */
    width: 100%;
    border-radius: 20px 20px 0 0;
    /* max-height: 70ch; */
    height: 30%;
    /* overflow: hidden; */
    margin-bottom: 3ch;
    background:linear-gradient(to bottom right,#7533e1,#b000a1);
}

.button{
    /* border: var(--border); */
    width: 100%;
    display: flex;
    justify-content: center ;
    flex: 0.2
}

.form{
    height: 30ch;
}

form,td{
    font-size: 1.2rem;
    /* border: var(--border); */
    margin: 0;
}

td{
    padding-top: 1ch;
}

tr > td:first-child{
    text-align: left;

}
#female{
    margin-left: 5ch;
}

h1{
    text-align: center;
    margin-top: 6ch;
    color: white;
}
input[type="text"],input[type="email"]{
    background-color: whitesmoke;
    padding: 12px 15px;
    width: 50%;
    font-size: 1rem;
    border-radius: 100px;
    border:none;
    /* box-shadow: 1px 1px 3px; */
}
input[type="text"]{
    text-transform: uppercase;
}

input[type="email"]{
    text-transform: lowercase;
}

input[type="date"]{
    background-color: whitesmoke;
    font-size: 1.2rem;
    border-radius: 100px;
    padding: 0.4em 2em;
    border:none;
    /* border: 1px solid black; */
    /* box-shadow: 1px 1px 1px ; */
}

span{
    font-size: 1.2rem;
}

button{
    align-self: flex-start;
    margin:3ch 0ch ;
    width: 12rem;
    font-size: 1.4rem;
    padding: 1.5ch 2ch;
    background:linear-gradient(to bottom right,#7533e1,#b000a1);
    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 3px 5px #484749;
    color: white;
    transition: background-color 1s;
}

button:hover{
    background-color: #7533e1;
    
}

